<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <th:block th:replace="fragments/admin-fr/head"></th:block>
        <title layout:title-pattern="$CONTENT_TITLE">Story's Flower</title>
    </head>

    <body>
        <!-- Header, navbar,...-->
        <header th:replace="fragments/admin-fr/header :: header">This header content is going to be replaced.</header>


        <!-- left bar -->
        <div class="app-sidebar__overlay" data-toggle="sidebar">

            <div layout:fragment="left-bar">

            </div>
        </div>
        <!-- main content -->
        <main class="app-content">
            <div layout:fragment="main-content">
            </div>     <!-- footer -->
            <footer th:replace="fragments/footer :: footer" class="footer"></footer>
        </main>


        <!-- default script (bootstrap, jquery) -->
        <th:block th:replace="fragments/script">
        </th:block>

        <!-- your custom script -->
        <th:block layout:fragment="custom-script"></th:block>
    </body>

</html>

<!--
<!doctype html>
<html lang="en">
    <head>
        <meta name="description"
              content="vali is a responsive and free admin theme built with bootstrap 4, sass and pug.js. it's fully customizable and modular.">
        &lt;!&ndash; twitter meta&ndash;&gt;
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:site" content="@pratikborsadiya">
        <meta property="twitter:creator" content="@pratikborsadiya">
        &lt;!&ndash; open graph meta&ndash;&gt;
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="vali admin">
        <meta property="og:title" content="vali - free bootstrap 4 admin theme">
        <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
        <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
        <meta property="og:description"
              content="vali is a responsive and free admin theme built with bootstrap 4, sass and pug.js. it's fully customizable and modular.">
        <title>vali admin - free bootstrap 4 admin template</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        &lt;!&ndash; main css&ndash;&gt;
        <link rel="stylesheet" type="text/css" href="css/main.css">
        &lt;!&ndash; font-icon css&ndash;&gt;
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="app sidebar-mini">
        &lt;!&ndash; navbar&ndash;&gt;
        <header class="app-header">
            <a class="app-header__logo" href="index.html"></a>
            &lt;!&ndash; sidebar toggle button&ndash;&gt;
            <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="hide sidebar"></a>
            &lt;!&ndash; navbar right menu&ndash;&gt;
            <ul class="app-nav">
                <li class="app-search">
                    <input class="app-search__input" type="search" placeholder="search">
                    <button class="app-search__button">
                        <i class="fa fa-search"></i>
                    </button>
                </li>
                &lt;!&ndash;notification menu&ndash;&gt;
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="show notifications">
                        <i class="fa fa-bell-o fa-lg"></i>
                    </a>
                    <ul class="app-notification dropdown-menu dropdown-menu-right">
                        <li class="app-notification__title">you have 4 new notifications.</li>
                        <div class="app-notification__content">
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </span>
                                    <div>
                                        <p class="app-notification__message">lisa sent you a mail</p>
                                        <p class="app-notification__meta">2 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                            <i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </span>
                                    <div>
                                        <p class="app-notification__message">mail server not working</p>
                                        <p class="app-notification__meta">5 min ago</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="app-notification__item" href="javascript:;">
                                    <span class="app-notification__icon">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-success"></i>
                                            <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </span>
                                    <div>
                                        <p class="app-notification__message">transaction complete</p>
                                        <p class="app-notification__meta">2 days ago</p>
                                    </div>
                                </a>
                            </li>
                            <div class="app-notification__content">
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </span>
                                        <div>
                                            <p class="app-notification__message">lisa sent you a mail</p>
                                            <p class="app-notification__meta">2 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                <i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </span>
                                        <div>
                                            <p class="app-notification__message">mail server not working</p>
                                            <p class="app-notification__meta">5 min ago</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="app-notification__item" href="javascript:;">
                                        <span class="app-notification__icon">
                                            <span class="fa-stack fa-lg">
                                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                                <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </span>
                                        <div>
                                            <p class="app-notification__message">transaction complete</p>
                                            <p class="app-notification__meta">2 days ago</p>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                        <li class="app-notification__footer">
                            <a href="#">see all notifications.</a>
                        </li>
                    </ul>
                </li>
                &lt;!&ndash; user menu&ndash;&gt;
                <li class="dropdown">
                    <a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="open profile menu">
                        <i class="fa fa-user fa-lg"></i>
                    </a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">
                        <li>
                            <a class="dropdown-item" href="page-user.html">
                                <i class="fa fa-cog fa-lg"></i>
                                settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="page-user.html">
                                <i class="fa fa-user fa-lg"></i>
                                profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="page-login.html">
                                <i class="fa fa-sign-out fa-lg"></i>
                                logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        &lt;!&ndash; sidebar menu&ndash;&gt;
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"
                     alt="user image">
                <div>
                    <p class="app-sidebar__user-name">john doe</p>
                    <p class="app-sidebar__user-designation">frontend developer</p>
                </div>
            </div>
            <ul class="app-menu">
                <li>
                    <a class="app-menu__item active" href="dashboard.html">
                        <i class="app-menu__icon fa fa-dashboard"></i>
                        <span class="app-menu__label">dashboard</span>
                    </a>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-laptop"></i>
                        <span class="app-menu__label">ui elements</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="treeview-item" href="bootstrap-components.html">
                                <i class="icon fa fa-circle-o"></i>
                                bootstrap elements
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="https://fontawesome.com/v4.7.0/icons/" target="_blank"
                               rel="noopener">
                                <i class="icon fa fa-circle-o"></i>
                                font icons
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="ui-cards.html">
                                <i class="icon fa fa-circle-o"></i>
                                cards
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="widgets.html">
                                <i class="icon fa fa-circle-o"></i>
                                widgets
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="app-menu__item" href="charts.html">
                        <i class="app-menu__icon fa fa-pie-chart"></i>
                        <span class="app-menu__label">charts</span>
                    </a>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-edit"></i>
                        <span class="app-menu__label">forms</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="treeview-item" href="form-components.html">
                                <i class="icon fa fa-circle-o"></i>
                                form components
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="form-custom.html">
                                <i class="icon fa fa-circle-o"></i>
                                custom components
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="form-samples.html">
                                <i class="icon fa fa-circle-o"></i>
                                form samples
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="form-notifications.html">
                                <i class="icon fa fa-circle-o"></i>
                                form notifications
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-th-list"></i>
                        <span class="app-menu__label">tables</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="treeview-item" href="table-basic.html">
                                <i class="icon fa fa-circle-o"></i>
                                basic tables
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="table-data-table.html">
                                <i class="icon fa fa-circle-o"></i>
                                data tables
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a class="app-menu__item" href="#" data-toggle="treeview">
                        <i class="app-menu__icon fa fa-file-text"></i>
                        <span class="app-menu__label">pages</span>
                        <i class="treeview-indicator fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a class="treeview-item" href="blank-page.html">
                                <i class="icon fa fa-circle-o"></i>
                                blank page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-login.html">
                                <i class="icon fa fa-circle-o"></i>
                                login page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-lockscreen.html">
                                <i class="icon fa fa-circle-o"></i>
                                lockscreen page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-user.html">
                                <i class="icon fa fa-circle-o"></i>
                                user page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-invoice.html">
                                <i class="icon fa fa-circle-o"></i>
                                invoice page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-calendar.html">
                                <i class="icon fa fa-circle-o"></i>
                                calendar page
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-mailbox.html">
                                <i class="icon fa fa-circle-o"></i>
                                mailbox
                            </a>
                        </li>
                        <li>
                            <a class="treeview-item" href="page-error.html">
                                <i class="icon fa fa-circle-o"></i>
                                error page
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="app-menu__item" href="docs.html">
                        <i class="app-menu__icon fa fa-file-code-o"></i>
                        <span class="app-menu__label">docs</span>
                    </a>
                </li>
            </ul>
        </aside>
        <main class="app-content">
            <div class="app-title">
                <div>
                    <h1>
                        <i class="fa fa-dashboard"></i>
                        dashboard
                    </h1>
                    <p>a free and open source bootstrap 4 admin template</p>
                </div>
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item">
                        <i class="fa fa-home fa-lg"></i>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">dashboard</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-users fa-3x"></i>
                        <div class="info">
                            <h4>users</h4>
                            <p>
                                <b>5</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small info coloured-icon">
                        <i class="icon fa fa-thumbs-o-up fa-3x"></i>
                        <div class="info">
                            <h4>likes</h4>
                            <p>
                                <b>25</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small warning coloured-icon">
                        <i class="icon fa fa-files-o fa-3x"></i>
                        <div class="info">
                            <h4>uploades</h4>
                            <p>
                                <b>10</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="widget-small danger coloured-icon">
                        <i class="icon fa fa-star fa-3x"></i>
                        <div class="info">
                            <h4>stars</h4>
                            <p>
                                <b>500</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="tile">
                        <h3 class="tile-title">monthly sales</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <canvas class="embed-responsive-item" id="linechartdemo"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tile">
                        <h3 class="tile-title">support requests</h3>
                        <div class="embed-responsive embed-responsive-16by9">
                            <canvas class="embed-responsive-item" id="piechartdemo"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        &lt;!&ndash; essential javascripts for application to work&ndash;&gt;
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        &lt;!&ndash; the javascript plugin to display page loading on top&ndash;&gt;
        <script src="js/plugins/pace.min.js"></script>
        &lt;!&ndash; page specific javascripts&ndash;&gt;
        <script type="text/javascript" src="js/plugins/chart.js"></script>
        <script type="text/javascript">
            var data = {
                labels: ["january", "february", "march", "april", "may"],
                datasets: [
                    {
                        label: "my first dataset",
                        fillcolor: "rgba(220,220,220,0.2)",
                        strokecolor: "rgba(220,220,220,1)",
                        pointcolor: "rgba(220,220,220,1)",
                        pointstrokecolor: "#fff",
                        pointhighlightfill: "#fff",
                        pointhighlightstroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56]
                    },
                    {
                        label: "my second dataset",
                        fillcolor: "rgba(151,187,205,0.2)",
                        strokecolor: "rgba(151,187,205,1)",
                        pointcolor: "rgba(151,187,205,1)",
                        pointstrokecolor: "#fff",
                        pointhighlightfill: "#fff",
                        pointhighlightstroke: "rgba(151,187,205,1)",
                        data: [28, 48, 40, 19, 86]
                    }
                ]
            };
            var pdata = [
                {
                    value: 300,
                    color: "#46bfbd",
                    highlight: "#5ad3d1",
                    label: "complete"
                },
                {
                    value: 50,
                    color: "#f7464a",
                    highlight: "#ff5a5e",
                    label: "in-progress"
                }
            ]

            var ctxl = $("#linechartdemo").get(0).getcontext("2d");
            var linechart = new chart(ctxl).line(data);

            var ctxp = $("#piechartdemo").get(0).getcontext("2d");
            var piechart = new chart(ctxp).pie(pdata);
        </script>
        &lt;!&ndash; google analytics script&ndash;&gt;
        <script type="text/javascript">
            if (document.location.hostname == 'pratikborsadiya.in') {
                (function (i, s, o, g, r, a, m) {
                    i['googleanalyticsobject'] = r;
                    i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new date();
                    a = s.createelement(o),
                        m = s.getelementsbytagname(o)[0];
                    a.async = 1;
                    a.src = g;
                    m.parentnode.insertbefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
                ga('create', 'ua-72504830-1', 'auto');
                ga('send', 'pageview');
            }
        </script>
    </body>
</html>-->
