<th:block xmlns:th="www.thymeLeaf.org" th:fragment="product_detail">
    <div class="product-title">
        <h1 th:text="${product.productName}" id="product-title">Colorful flower bouquet</h1>
        <p>
            <span th:utext="${product.topicName}"></span>
            <span> | </span>
            <span th:utext="${product.nameOccasion}"></span>
        </p>
    </div>
    <div class="row main-contain">
        <div class="main-left col-10 m-0 mx-auto">

            <div class="product-image-container row d-flex justify-content-center">
                <th:block th:replace="fragments/admin-fr/product-fr/upload-picture">
                </th:block>
            </div>
            <hr class="hr mb-5 mt-4"/>

            <div class="card text-left col-12">
                <form method="post" name="editForm"
                      id="editForm">
                    <div class="form-group">
                        <label for="title">Name Of Product</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter activity's name"
                               th:value="${product.productName}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" th:text="${product.description}"
                                  placeholder="Enter activity's description"></textarea>
                    </div>
                    <button id="submitBtn" type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</th:block>